html, body
    height 100%

header
    border 1px solid lightgray
    border-radius 5px
    margin 10px
    background-color snow

.users-data
    border 1px solid lightgray
    border-radius 5px
    padding 10px
    background-color snow
   
.content
    min-height 100%
    
.required
    color red
    
.active-user
    background-color snow 
    
.row 
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display  flex
  flex-wrap wrap

.row > [class*='col-'] 
  display flex
  flex-direction column

